section.show-print
{
	display:none; 
}

.hide-print
{
	display: block;
}

.txt-right
{
	text-align: right;
}

@media print {
	.has-navbar-top .app-body
	{
		padding-top: 0px;
	}
	.hide-print
	{
		display: none;
	}

	section.show-print
	{
		display: block;
	}

	.page-break{
		page-break-after: always;
	}

}

.bill-wrap
{
	padding-right: 150px;
}

.bill
{
	padding: 10px;
	background: #face00;
	width: 150px;
	height: 150px;
	display: inline-block;
  	margin: 10px ;
  	text-align: center;
  	font-size: 16;
}

.bill span 
{
	margin-top: 50px;
	display: inline-block;
	color: red;

}

.home.page, order
{
	position: relative;
}
.home.page nav.menu
{
	position: absolute;
	right:10px ;
	height: 150px;
	top: 10px;

}

.home.page nav.menu > div
{
	margin-bottom: 30px;
	text-align: center;
	font-size: 16;
	background-color: #00FAD2;
}

.home.page nav.menu > div.bill-create 
{
	color: black;
	background-color: rgb(0, 163, 255);
	
}

.home.page nav.menu > div.bill-close 
{
	color: white;
	background: rgba(0, 92, 51, 1);
}

.home.page nav.menu > div span
{
	display: inline-block;
	margin: 30px;
}

.order-wraper
{
	padding-right: 300px;
}

table tbody, table thead th
{
	text-align: center;
}
table thead
{
	background-color: #5D80F0;
}
.bill-name
{
	font-size: 30;
}



.order.page nav.scan, .payment.page nav.scan
{
	position: absolute;
	right:0px ;
	width: 290px;
	top: 10px;

}
nav.scan .group-item, nav.scan .group-category
{
	overflow: scroll;
	overflow-x: hidden;
	max-height: 400px;
}


nav.scan .scan-check
{
	display: inline-block;
	font-size: 16;
	text-align: center;
	cursor:hand;
}

nav.scan .barcode, nav .cash
{
	
	background-color: rgb(245, 105, 105);
	padding:30px;
}

nav.scan .touch, nav .credit
{
    background-color: rgb(226, 241, 148);
	padding: 30px;
}

nav.scan .barcode-input, nav.scan .cash-input
{
	
	background-color: rgb(245, 105, 105);
	padding: 10px;
}
.app-content
{
	background-color: white;
}

.amount div
{
	display: inline-block;
	font-size: 30;
	background-color: #5D80F0;
	padding: 30px;
	margin-left: 10px;
	color: white;
}

.amount div.inactive
{
	background-color: #AAA;
}


/*.discount
{
	font-size: 30px;
	margin-left: 10px;
	margin-top: 10px;
	padding-top: 30px;
	
}
.discount span
{
	background-color: green;
	color: white;
	padding:30px;
}*/

.touch-input, .credit-input
{
	background-color: rgb(226, 241, 148);
	padding: 10px;
}

.hide
{
	display: none;
}

.touch-input .item, .credit-input .item
{
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: hand;

}

.clickable, .s-btn
{
	cursor: hand;
}

.touch-input .item span, .credit-input .item span 
{
	padding: 20px;
	background-color: #face00;
}
.touch-input .group-item .item span
{
	background-color: #0face0;
}

.bill.active
{
	background-color: #00face;
}

.bill.active span
{
	color:white;
}

.report.page
{
	text-align: center;;
}

.table>tbody>tr>td.txt-right
{
	padding-right: 20px;
}

@media print {
	
    div.app
    {
    	font-size: 50%;
    	width:350px;
    	min-height:1px;
    	
    	
    	
    }
    .receipt h2, .receipt table
    {
    	font-size: 1.5em;
    }
}