<table class="table table-striped table-hover order">
	<thead>
		<th>Username</th>
		<th>Name</th>
		<th>LastName</th>
		<th>Telephone</th>
		<th>Email</th>
		<th></th>
	</thead>
	<tbody>
		<tr ng-repeat="item in users">
			<td>{{item.username}}</td>
			<td>{{item.name}}</td>
			<td>{{item.lastname}}</td>
			<td>{{item.phone}}</td>
			<td>{{item.email}}</td>
			<td><a href="#/user/{{item.id}}" class="btn btn-lg btn-info">VIEW</a><a href="#/user" class="btn btn-lg btn-info">DELETE</a></td>
		</tr>
	</tbody>
</table>	