<form ng-submit="update()">
	<input type="text" ng-model="user.username" placeholder="Username"><br/>
	<input type="text" ng-model="user.name" placeholder="Name"><br/>
	<input type="text" ng-model="user.lastname" placeholder="Lastname"><br/>
	<input type="text" ng-model="user.phone" placeholder="Telephone"><br/>
	<input type="text" ng-model="user.email" placeholder="Email"><br/>
	<input type="password" ng-model="user.password" placeholder="Password"><br/>
	<input type="password" ng-model="user.repassword" placeholder="Re-Password"><br/>
	<input type="submit" value="{{submitText}}" class="btn btn-lg btn-danger">
</form>