<section>
	<h2>Receipt</h2>
	<table class="table">
		<tr ng-repeat="item in paidBill.bill.products">
			<td>{{item.number}}</td>
			<td>{{item.name}}</td>
			<td>{{item.count}}</td>
			<td>{{item.price}}</td>
		</tr>
		<tr>
			<td colspan="3">Sub total</td>
			<td>{{subTotalAmount}}</td>
		</tr>
		<tr>
			<td colspan="3">Discount</td>
			<td>{{paidBill.discount}}</td>
		</tr>
		<tr>
			<td colspan="3">Tax {{tax}}%</td>
			<td>{{paidBill.taxAmount}}</td>
		</tr>
		<tr>
			<td colspan="3">Total Due</td>
			<td>{{total}}</td>
		</tr>
	</table>
</section>