<nav class="scan">
		<header>
			<div class="barcode scan-check" ng-click="switchTo('barcode');">
				<span>BARCODE</span>
			</div>
			<div class="touch scan-check" ng-click="switchTo('touch');">
				<span>TOUCH</span>
			</div>
		</header>
		<div class="barcode-input {{cssBarcode}}">
			<form ng-submit="addBarcodeItem()">
				<input id="barcode-input" type="text" ng-model="scanner_input" class="form-control" placeholder="ใส่ Barcode">
			</form>
		</div>
		<div class="touch-input {{cssTouch}}">
			<section class="group-category {{cssGroup}}">

				<div class="item" ng-repeat="group in groups" ng-click="selectGroup(group)">
					<span>{{group.name}}</span>
					&nbsp;
				</div>
				
			</section>
			<section class="group-item {{cssItem}}">
				<div class="item" ng-repeat="item in selectedGroup.items" ng-click="addItem(item)">

					<span>{{item.name}}</span>
					&nbsp;
				</div>
			</section>
		</div>
</nav>