<section class="home page">
	<div class="bill-wrap">

		<groupbill ng-repeat="item in bills" class="bill"  text="{{item.name}}" selected="item.isSelected" on-selected="doSelect(item)"></groupbill>
	</div>
	<nav class="menu">
		
		<div class="bill-create clickable" ng-click="createBill()">
			<span>CREATE NEW BILL</span>
		</div>
		<div class="bill-edit clickable" ng-click="editBill()" >
			<span>EDIT BILL</span>
		</div>
		<div class="bill-close clickable" ng-click="goPayment()">
			<span>MAKE A PAYMENT</span>
		</div>
	</nav>
</section>