<!--<listproduct products="products" selected-products="selectedProducts"></listproduct>
{{selectedProducts}}-->
<div ng-hide="isOrder">
	<wholesale-list items="items" on-order="order"></wholesale-list>
</div>
<div ng-show="isOrder">
	<button ng-click="isOrder=false" class="btn btn-lg">Back</button>
	<h2>Customer Infomation</h2>
	<label>Bill to</label>
	<input class="form-control" type="text" ng-model="customer.bill_to" placeholder="Bill to"><br/>
	
	
	<label >Ship date</label>
	<input  class="form-control" type="date" ng-model="customer.ship_date">
	<label >Ship via</label>
	<input  class="form-control" type="text" ng-model="customer.ship_via">
	<label>Ship to</label>
	<textarea  class="form-control" placeholder="Ship to" ng-model="customer.ship_to"></textarea><br/>
	<label>Ship cost(ค่าส่ง)</label>
	<input  class="form-control" type="number" ng-model="customer.ship_cost">
	<label>FOB</label>
	<input  class="form-control" type="text" placeholder="FOB" ng-model="customer.fob"><br/>
	<label >Tracking No.</label>
	<input  class="form-control" type="text" ng-model="customer.tracking_no">
	<h2>Order</h2>
	<listorder orders="orders"></listorder>
	<button class="btn btn-lg btn-primary" ng-click="confirm()">Confirm</button>
</div>
