<!--<listproduct products="products" selected-products="selectedProducts"></listproduct>
{{selectedProducts}}-->
<div ng-hide="isOrder">
	<wholesale-list items="items" on-order="order"></wholesale-list>
</div>
<div ng-show="isOrder">
	<button ng-click="isOrder=false" class="btn btn-lg">Back</button>
	<h2>Customer Infomation</h2>
	<label>Bill to</label>
	<input type="text" ng-model="customer.bill_to" placeholder="Bill to"><br/>
	<label>Ship to</label>
	<textarea placeholder="Ship to" ng-model="customer.ship_to"></textarea><br/>
	<label>FOB</label>
	<input type="text" placeholder="FOB" ng-model="customer.fob"><br/>
	<label>Ship date</label>
	<input type="date" ng-model="customer.ship_date">
	<label>Tracking No.</label>
	<input type="text" ng-model="customer.tracking_no">
	<h2>Order</h2>
	<listorder orders="orders"></listorder>
	<button class="btn btn-lg btn-primary" ng-click="confirm()">Confirm</button>
</div>
