<nav class="scan">
	<header>
		<div class="barcode scan-check" ng-click="switchTo('barcode');">
			<span>CASH</span>
		</div>
		<div class="touch scan-check" ng-click="switchTo('touch');">
			<span>CREDIT</span>
		</div>
	</header>
	<section>
		<div class="barcode-input {{cssBarcode}}">
			<form ng-submit="doPayCash()">
				<input id="barcode-input" ng-model="input" type="text" class="form-control" placeholder="ใส่จำนวนเงิน">
			</form>
			<span style="font-size:40px;font-weight:bold;color:#face00;">ราคา {{total}}</span><br/>
			<div ng-show="isPaid">
				<span style="font-size:40px;font-weight:bold;color:#face00;">ชำระ {{payAmount}}</span><br/>
				<span style="font-size:40px;font-weight:bold;color:#face00;">ทอน {{payAmount - total}}</span><br/>
			</div>
		</div>
		<div class="touch-input {{cssTouch}}">
			<section class="group-category">
				<div class="item" ng-repeat="credit in credits">
					<span ng-click="selectCredit(credit)">{{credit.name}}</span>
					&nbsp;
				</div>
				<div ng-show="isCreditSelected">
					{{creditExplanation}}<br/>
					<span style="font-size:40px;font-weight:bold;color:#face00;">ยอดชำระ {{total_credit_payment}}</span><br/>
					<button class="btn btn-lg btn-primary">PAY</button>
				</div>
				
			</section>
		</div>
	</section>
	<footer>
		PROMOTION CODE :
		<form >
			<input id="barcode" type="text" class="form-control" placeholder="ใส่ Barcode">
		</form>

	</footer>
</nav>